.activate-button-align {
  display: flex;
  align-items: center;

}
.activate-button {
  background-color: #009a00;
  font-weight: 800;
  font-size: 18px;
  text-align: center;
  width: 230px;
  height: 35px;
  color: #fff;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  letter-spacing: 3px;
}


