.offers-box {
  border-right: 2px solid green;
  height: 50px;
  margin-bottom : 10px;
}

.offers {
  display: flex;
  flex: 1;
  align-content: space-around;
  color : #004e00;
  
}
.offers .dollar-offer {
  font-size: 100px;
}

.max-amount-offer .offer-size{
  font-size: 25px;
}
.max-amount-offer .order-size{
  font-size: 12px;
}
/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
  .offers-box {
    flex: 0 0 30%;
  }
}
/*Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
  .offers-box  {
    flex: 0 0 20%;
  }
}
/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {  
  .offers-box  {
    flex: 0 0 15%;
  }
}
