.row {
  display: flex;
}
.column {
  flex: 30%;
}
.shopContainer {
  display: flex;
  flex-wrap: wrap;
}
.list {
  margin: auto;
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  padding: 0;
}

.list .list-item {
  padding: 5px;
  flex: 0 0 100%;
  display: flex;
  flex-direction: column;
  height: 500px;
}
.list .list-item .list-item-child .column{
  flex-grow: 1;
}
.name {
  font-weight: 700;
  
}
