.shopNowButtonColor {
  background-color: #004e00;
  font-weight: 800;
  font-size: medium;
  width: 150px;
  height: 30px;
  color: #fff;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}
.column {
  flex: 50%;
}