.list-shop {
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
}

.list-item-shop {
  flex-grow: 1;
  display: flex;
}

.list-item-image img {
  width: 150px;
}

.list-item-text {
  display: flex;
  flex-direction: column;
}

.list-item-text-child {
  text-align: left;
  flex-grow: 1;
}